<!DOCTYPE html >
<html lang="en">
<!-- 
= base url for relative uris
= title page title
- partial('usermenu') user drop down bootstrap menu
- messages express flash messages

 -->
<head>
<meta charset="utf-8">
<title>{{= title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<base href="{{= base}}">
<meta name="description" content="">
<meta name="author" content="andy bunce">
<link rel="icon" href="favicon.ico" />
<!-- Le styles -->
<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="lib/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>


<link href="app.css" rel="stylesheet" />

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="favicon.ico" />
<!-- Le javascript -->
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>


</head>

<body id="bootstrap-js">

	<!-- Topbar ================================================== -->
	<div class="navbar navbar-fixed-top " data-dropdown="dropdown">
		<div class="navbar-inner">
			<div class="container-fluid">
		 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
				<a href="." class="brand"> <img src="factbase.png" /> FactBase
				</a>

 <div class="nav-collapse">
				<ul class="nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> Features <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="fb/continent">Continents</a></li>
							<li><a href="fb/country">Countries</a></li>
							<li><a href="fb/province">Provinces</a></li>

							<li><a href="fb/city">Cities</a></li>
							<li class="divider"></li>
							<li><a href="fb/organization">Organizations</a></li>
							<li><a href="fb/sea">Seas</a></li>
							<li><a href="fb/lake">Lakes</a></li>
							<li><a href="fb/river">Rivers</a></li>
							<li class="divider"></li>
							<li><a href="fb/mountain">Mountains</a></li>
							<li><a href="fb/island">Islands</a></li>
							<li><a href="fb/desert">Deserts</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> Not yet <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="json/">json test</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> About <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="about"><i class="icon-info-sign"></i> This website</a></li>

							<li class="divider"></li>
							<li><a href="schema"><i class="icon-tags"></i> Schema</a></li>
							<li><a href="fb/entity"><i class="icon-tag"></i> Entity</a></li>

							<li><a href="history">
								<i class="icon-lock"></i>
							History</a></li>

							<li><a href="docs/index.html" target="docs">
							<i class="icon-external-link"></i>			
							Docs</a></li>
						</ul></li>

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> System <b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="basex/"><i class="icon-cog"></i> BaseX</a></li>
							<li><a href="request">Request</a></li>
							<li class="divider"></li>
							<li><a href="base/packages">Node packages</a></li>
							<li><a href="base/routes">Routes</a></li>
							<li><a href="images">Images</a></li>
							<li class="divider"></li>
							<li><a href="users">Users</a></li>
							<li><a href="logins">Logins</a></li>
							<li><a href="session">Sessions</a></li>
							<li><a href="usage">Logs</a></li>
						</ul></li>
				</ul>
				<form class="navbar-search " action="search">
	              
					<input type="text" placeholder="Search" name="q"
						class="search-query" />
				    <button class="search-query">
						<span> <i class="icon-search"></i>
						</span>
					</button>
				</form>
				<ul class="nav pull-right">{{- partial('usermenu') }}
				</ul>
</div>
			</div>

		</div>


	</div>
	<div class="container-fluid" style="margin-top: 50px;">
		<div style="margin: 2px 8px; padding-bottom: 1px;">{{-
			messages() }}</div>
		{{- body }}
	</div>

	<!-- /container -->

	<footer class="footer">
		<div class="container">
			<hr />
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
			<p id="foot">A demo of Node.js and BaseX - work in progress.</p>
		</div>
	</footer>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-28597688-1' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>

</body>
</html>
