<div class="alert alert-info">
	
	<h4 class="alert-heading">Important!</h4>
	<p>You must be logged in to access this page.</p>
	<ul class="nav nav-pills">
		<li><a class="btn btn-large" href="auth/twitter?returnURL={{= returnURL}}">
		<img src="images/twitter.ico"/>
		Sign in with Twitter</a></li>
		<li><a class="btn btn-large" href="auth/google?returnURL={{= returnURL}}">
		<img src="images/google.ico"/>
		Sign in with Google</a></li>
	</ul>
</div>
