<div>
	<div class="alert alert-error">
		<a class="close" data-dismiss="alert">×</a>
		<h4 class="alert-heading">Warning!</h4>
		<p>
			<strong>Sorry there is a problem!</strong> Here are some options...
		</p>
		<div class="alert-actions">
			<a class="btn small" href="/factbook/">Home</a> <a class="btn small"
				href="/factbook/search">Search</a>
		</div>
	</div>
	<pre>{{=errorMessage}}</pre>
</div>