<div class="alert alert-block">
	
	<h4 class="alert-heading">Warning!</h4>
	<p>
		<strong>Holy guacamole! That page {{= url}} could not be found!</strong>
		Here are some options...
	</p>
	<div class="alert-actions">
		<a class="btn small" href=".">Home</a> 
		<a class="btn small" href="search">Search</a>
	</div>
</div>