<div >
	<h1>All routes details</h1>
	<ul>
{{ for(var i=0; i < routes.length; i++){ var route=routes[i];}}
   <li><b>{{= route.method }}</b>
   <a href="{{= route.path }}">{{= route.path }}</a>  
    <i> #{{= route.index }}</i>  
   </li>
{{ } }}
</ul>
</div>
