<!-- user menu from user object -->
<li id="user" class="dropdown">
{{ if(user){ }}
 	<a href="#"
	class="dropdown-toggle" data-toggle="dropdown"
	title="{{= user.id}} ({{= user.provider}})"> <img
		src="{{= user.avatar}}" style="vertical-align: top;height:1.5em;" /> {{=
		user.username}}<b class="caret"></b></a>
	<ul class="dropdown-menu">
		<li><a href="profile">Profile</a></li>
		<li><a href="history">History</a></li>
		<li class="divider"></li>
		<li><a href="auth/logout"><i class="icon-off"></i>Sign out</a></li>
	</ul> 
{{ }else{ }}
	 <a href="#" class="dropdown-toggle"
		data-toggle="dropdown"><i class="icon-user"></i> Sign in <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
		<li><a href="auth/twitter">Sign in with Twitter</a></li>
		<li><a href="auth/google">Sign in with Google</a></li>
	</ul> 
{{ } }}
</li>