body {
    background-color:White;
	color:Black;
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	font-size:85%;
}

table.ret * th {
    border:none;
    margin:2px;
    padding:2px;
   background-color:#BFCAEB;
    text-transform:capitalize;
}
/*
table.ret * td {
    border:none;
    margin:2px;
    padding:2px;
   background-color:#EBEEF5; 
   vertical-align : top;
}
*/
table.ret  {
    border-bottom:1px solid #BFCAEB;
    margin:0px;
    padding:0px;
}
.r {
	text-align: right !important;
}
section {
  padding-top: 30px;
}
.xmlverb-default          { color: #333333; background-color: #ffffff;
							font-size: 10pt;
                            font-family:"Courier New", Courier, mono; }
.xmlverb-element-name     { color: #990000 }
.xmlverb-element-nsprefix { color: #666600 }
.xmlverb-attr-name        { color: #660000 }
.xmlverb-attr-content     { color: #000099; font-weight: bold }
.xmlverb-ns-name          { color: #666600 }
.xmlverb-ns-uri           { color: #330099 }
.xmlverb-text             { color: #000000; font-weight: bold }
.xmlverb-comment          { color: #006600; font-style: italic }
.xmlverb-pi-name          { color: #006600; font-style: italic }
.xmlverb-pi-content       { color: #006666; font-style: italic }
.xd                       { background-color: #cccccc; margin: 0px }
