<div class="row-fluid">
	<div class="span2">{{- partial('sidebar') }}</div>
	<div class="span9">
		<form method="post" action="basex/query" >
		 <textarea name="xq"></textarea>
		 <button type="submit">go</button>
		</form>
		<pre>{{=xresult}}</pre>
	</div>
</div>	