<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">BaseX</li>
		<li ><a href="basex/databases">Databases</a></li>
		
		<li><a href="basex/packages">Packages</a></li>
		<li><a href="basex/commands">Commands</a></li>
		<li><a href="basex/query">Query</a></li>
		<li class="nav-header">BaseX</li>
		<li class="active"><a href="basex">Information</a></li>

	</ul>
</div>
<!--/.well -->
